# Numbers

In [2]:
 1+1

2

In [3]:
1*3

3

In [4]:
2**4

16

In [5]:
4%2

0

# variable assignment

In [6]:
# Can not start with number or special characters
name_of_var = 2

In [7]:
x = 2
y = 3

In [8]:
z = x + y

In [9]:
z

5

# Strings

In [10]:
'single quotes'

'single quotes'

In [11]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

# Assigning variables and using .format() function

In [1]:
num = 12
name = 'sam'

'My number is {} and my name is {}'.format(num, name)

'My number is 12 and my name is sam'

In [2]:
num = 12
name = 'sam'

print('My number is {} and my name is {}'.format(num, name))

My number is 12 and my name is sam

In [4]:
num = 12
name = 'sam'

print('My number is {one} and my name is {two}'.format(one = num, two = name))

My number is 12 and my name is sam

# indexing

In [7]:
s = 'abcdefghijk'

In [8]:
s[0:]   #or s[:]

'abcdefghijk'

In [10]:
s[:3]

'abc'

In [11]:
s[3:6]

'def'

In [13]:
my_list = ['a','b','c']

In [16]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd', 'd']

In [19]:
my_list[0] = 'NEW'
my_list

['NEW', 'b', 'c', 'd', 'd']

In [20]:
nest = [1,2,[3,4]]

In [21]:
nest[2]

[3, 4]

In [22]:
nest[2][1]

4

In [24]:
nest1 = [1,2,3,[4,5,['target']]]

In [26]:
nest1[3]

[4, 5, ['target']]

In [27]:
nest1[3][2]

['target']

In [28]:
nest1[3][2][0]

'target'

In [29]:
print(nest1[3][2][0])

target

## Dictornary

In [31]:
d = {'key1':'value','key2':123}

In [32]:
d['key1']

'value'

In [33]:
d['key2']

123

In [34]:
d =  {'k1':[1,2,3]}

In [36]:
d['k1']

[1, 2, 3]

In [44]:
d['k1'][0]

1

In [37]:
my_lis = d['k1']

In [41]:
my_lis[0]

1

In [45]:
d = {'k1':{'innerkey':[1,2,3]}}

In [46]:
d['k1']

{'innerkey': [1, 2, 3]}

In [47]:
d['k1']['innerkey']

[1, 2, 3]

In [48]:
d['k1']['innerkey'][0]

1

In [49]:
True

True

In [50]:
False

False

## Tuple

In [51]:
t = (1,2,3)
t[0]b

1

In [56]:
my_list = [1,2,3]

In [57]:
my_list

[1, 2, 3]

In [58]:
 my_list[0]='New'

In [59]:
my_list

['New', 2, 3]

In [60]:
t[0]= 'NEW'     ## this will give an error.

TypeError: 'tuple' object does not support item assignment

- because tuples are imutable and they don't support item assigning. that's the main difference between tuple and list, list are mutable and tuples are immutable.

## SET

 - A set is a collection of unique elements.
{}

In [62]:
{1,2,3}

{1, 2, 3}

In [63]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [64]:
set ([1,1,1,1,2,3,3,3,3,4,4,45,5,5,7])

{1, 2, 3, 4, 5, 7, 45}

In [65]:
s = {1,2,3}

In [67]:
s.add(5)
s

{1, 2, 3, 5}

## Boolean operator

In [69]:
1<2

True

In [72]:
2 == 5

False

In [73]:
1 != 3

True

In [74]:
1 < 2 and 2 < 3

True

In [76]:
1 < 2 and 2 > 3   # true and false return false
                # In and operator all conditions must be true

False

In [78]:
(1 < 2) or (2 > 3)

True

In [79]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [80]:
    ## true and true = true 
    ## true and false = false
    ## true or false = true

## if else

In [81]:
if 1 < 2:
    print('yep!')

yep!

In [83]:
if True:
    print('perform code')

perform code

In [86]:
if True:
    x = 2+2
    print(x)

4

In [87]:
if 1 == 2:
    print('first')
else:
    print('last')

last

In [88]:
#multiple conditions

In [90]:
if 1 == 2:
    print ('first')
elif 3 == 3:
    print('Middle')
else:
    print('last')

Middle

In [1]:
if 1 == 2:
    print ('first')
elif 4==4:
    print('Middle')
elif 3 == 3:
    print('Middle')
else:
    print('last')

Middle